services:
  webhooks_accent:
    image: tts-telegram
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    command: uvicorn accent_backend:app --host 0.0.0.0 --port 17871
    ports: ["17871:17871"]
    env_file:
      - .env
    volumes:
      - ./app:/app
      - ./hf_cache:/hf_cache
    dns:
      - 1.1.1.1
      - 8.8.8.8


  f5-tts:
    image: f5tts:v1
    restart: unless-stopped
    container_name: f5-tts
    ports:
      - "7861:7861"
    volumes:
      - f5-tts-cache:/root/.cache/huggingface/hub/
      - ./models:/app/models
    gpus: all
    entrypoint:
      - "f5-tts_infer-gradio"
      - "--port"
      - "7861"
      - "--host"
      - "0.0.0.0"

  f5-tts2:
    image: f5tts:v1
    restart: unless-stopped
    container_name: f5-tts2
    ports:
      - "7862:7862"
    volumes:
      - f5-tts-cache:/root/.cache/huggingface/hub/
      - ./models:/app/models
    gpus: all
    entrypoint:
      - "f5-tts_infer-gradio"
      - "--port"
      - "7862"
      - "--host"
      - "0.0.0.0"

volumes:
  f5-tts-cache:
